.container {
  height: 100vh;
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transition: all 0.999s;
}

.container__imput-color {
  text-align: center;
}

.container__box-color {
  padding: 25px;
  background: #00000033;
  color: #fff;
}
